/* Base */

html,
body {
    margin: 0;
    font-size: theme(font.font-size);
    font-family: theme(font.font-family);
    line-height: theme(font.font-height);
    color: theme(colors.foreground);
    background: theme(colors.background);

    @media (prefers-color-scheme: dark) {
        color: invert(theme(colors.foreground));
        background: invert(theme(colors.background));
        /* filter: invert(100%); */
    }
}

h1 {
    @apply text-center font-extrabold;
    /* @apply text-green-900; */

    /* color: var(--color-background); */
}

a {
    color: theme(colors.link);

    @media (prefers-color-scheme: dark) {
        color: invert(theme(colors.link));
    }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}